@page "{id:min(1)?}/{handler?}"
@model TeacherPortal.Pages.Teachers.EditModel
@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.Teacher.PhotoPath ?? "User.jpg");
    var pageHeader = Model.Teacher.ID > 0 ? "Edit" : "Create";
}

<h1>@pageHeader</h1>

<form method="post" class="mt-3" enctype="multipart/form-data">
    <input hidden asp-for="Teacher.ID" />
    <input hidden asp-for="Teacher.PhotoPath" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Teacher.FirstName" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="Teacher.FirstName" class="form-control" placeholder="Name">
            <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Teacher.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Teacher.Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Teacher.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Teacher.Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Teacher.Department" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Teacher.Department" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="custom-file-input form-control">
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Teachers/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>