@page
@model TeacherPortal.Pages.Teachers.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
}

<style>
    .btn {
        width: 75px;
    }
</style>

@await Component.InvokeAsync("HeadCount")

<h1>Teachers</h1>

<div class="card-deck">
    @foreach (var Teacher in Model.Teachers)
    {
        <partial name="_DisplayTeacherPartial" model="Teacher" view-data="ViewData" />
    }
</div>