@page
@model TeacherPortal.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>Page not found Clown</h1>
<a asp-page="/Teachers/Index" class="btn btn-primary">
    Click here to get back home 
</a>
